html,body{
  height: 100%;
}
body{
  background: #000000;
}
h1{
  font-size: 64px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Oswald', sans-serif;
  line-height: 78px;
}
h2{
  color: #ffffff;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

a{
  color: #f05f40;
  text-decoration: none;
}
a:hover{
  color: #f05f40;
  text-decoration: underline;
}

.wrapper{
  position: relative;
  height: 100%;
}
.content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -20px;
  margin-left: 100px;
}


/*---Animation---*/
.state1,.state2,.state3{
  opacity: 0;
  transform: translate(0,5px);
  animation: appear 1.5s forwards, movein 1s forwards;
  display: inline-block;
}
.state1{
  animation-delay: 0s;
}
.state2{
  animation-delay: 1s;
}
.state3{
  animation-delay: 2s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes movein {
  0% {
    transform: translate(0,5px);
  }
  100% {
    transform: translate(0,0px);
  }
}

/*---Responsive (Bootstrap Standard)---*/
/* Only Large devices (LG) */
@media only screen and (min-width: 1201px) {
  .mobile-only{
    display: none;
  }
}
/* Only Medium devices (MD) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .mobile-only{
    display: none;
  }
}
/* Only Small devices (SM) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .mobile-only{
    display: none;
  }
  .content{
    margin-left: 60px;
  }
}
/* Only Extra Small devices (XS) */
@media only screen and (max-width: 768px) {
  .mobile-only{
    display: block;
  }
  .content{
    top: 45px;
    left: 50%;
    transform: translateY(0px);
    transform: translateX(-140px);
    margin: 0px;
    width: 300px;
  }
  h1{
    font-size: 48px;
    line-height: 60px;
  }
}
