html,body{
  height: 100%;
}
body{
  background: #000000;
}
h1{
  font-size: 32px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Oswald', sans-serif;
}
h2{
  color: #ffffff;
  margin-bottom: 0px;
  font-family: 'Oswald', sans-serif;
}
a{
  color: #ffffff;
}
a:hover{
  text-decoration: none;
}

.wrapper{
  position: relative;
  height: 100%;
}
.content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 120px;
}


/*---Responsive (Bootstrap Standard)---*/
/* Only Large devices (LG) */
@media only screen and (min-width: 1201px) {

}
/* Only Medium devices (MD) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {

}
/* Only Small devices (SM) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .content{
    margin-left: 60px;
  }
}
/* Only Extra Small devices (XS) */
@media only screen and (max-width: 768px) {
  .content{
    margin-left: 15px;
  }
}
